.product {
    border: lpx solid rgb(137, 109, 165);
    background-color: white;
    margin: 10px;

    display: inline-block;
    width: 250px;
    height: 340px;
}

.product .total {
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    color: tomato;
}

.product .price {
    color: #333;
}

.product img {
    width: 248px;
    height: 200px;
}